<!-- views/index.handlebars -->
<!doctype html>
<html>
<head>
	<title>Arnold</title>
	<!-- <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> -->
	 <!-- load bootstrap css -->
	<!-- <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">  -->
	<!-- load fontawesome -->
	<!-- <link rel="stylesheet" href="/assets/css/style.css" type="text/css" /> -->

	<style>
		body 		{ padding-top:80px; }
	</style>


</head>
<body>


	<!-- Page Header -->
	<!-- Set your background image for this header on the line below. -->
	<header class="intro-header" style="background-image:')">
			<div class="container">
					<div class="row">
							<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
									<div class="site-heading">
											<h1>CONQUER.</h1>
											<hr class="small">
											<span class="subheading">An Awesome Workout app for everyone</span>
									</div>
							</div>
					</div>
			</div>
	</header>

	<!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

            </div>
        </div>
    </div>






  <script src="/assets/js/jquery.min.js"></script>
	<script src="/assets/js/bootstrap.min.js"></script>
	  <script src="/assets/js/clean-blog-min.js"></script>

    <!-- <div class="container">
        <div class=" ">
            <h1><span class="fa fa-lock"></span>Welcome to 	Arnold</h1>
<br><br>
            <p>Login or Register with:</p>

            <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
            <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>
        </div>
    </div> -->
</body>
</html>
